.block4 {
  position: relative;
  height: 1715px;
  background-color: $blue;
  background-image: url('../img/4_image-star.png');
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  padding: 0 45px;
  color: $white;
  @media (max-width: 1599.98px) {
    background-image: url('../img/4_image-startablet.png');
    height: 1240px;
  }
  @media (max-width: 1023.98px) {
    background-image: url('../img/4_image-starmobile.png');
    padding: 0 18px;
    height: 230px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    object-position: 50% 60%;
  }
}
.text1 {
  font-size: 2.05em;
  text-align: center;
  text-transform: uppercase;
  padding-top: 73px;
  padding-right: 5px;
  letter-spacing: 2.7px;
  @media (max-width: 1599.98px) {
    font-size: 1.84em;
    padding-top: 50px;
    padding-right: 0;
    padding-left: 31px;
    letter-spacing: 1.5px;
    margin-bottom: 30px;
  }
  @media (max-width: 1023.98px) {
    display: none;
  }
}
.comparison {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 20px;
  @media (max-width: 1599.98px) {
    grid-gap: 40px;
    padding-bottom: 29px;
  }
  @media (max-width: 1023.98px) {
    display: none;
  }
  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__image {
    width: 100%;
    height: 392px;
    @media (max-width: 1599.98px) {
      height: 214px;
    }
  }
  &__text1, &__text2 {
    letter-spacing: 1.5px;
    @media (max-width: 1599.98px) {
      margin-top: 23px;
      font-size: 1.21em;
      letter-spacing: 0.95px;
    }
  }
  &__text1 {
    @media (max-width: 1599.98px) {
      margin-left: 25px;
    }
  }
}
.module {
  width: calc(100% - 5px);
  margin-right: 5px;
  @media (max-width: 1023.98px) {
    display: none;
  }
  &__title {
    font-size: 1.12em;
    color: $orange;
    margin: 20px 1px 11px 1px;
    @media (max-width: 1599.98px) {
      font-size: 1em;
      margin: 10px 2px 12px 2px;
    }
  }
  &__comparison {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    @media (max-width: 1599.98px) {
      margin-left: 5px;
      grid-gap: 14px;
    }
  }
  &__data {
    background-color: $orange;
    text-align: center;
    line-height: 1.23;
    letter-spacing: 1.2px;
    padding: 26px 24px 22px 24px;
    border-radius: 8px;
    min-height: 52px;
    @media (max-width: 1599.98px) {
      letter-spacing: 0.8px;
      padding: 13px 24px;
      min-height: 43px;
    }
  }
}
.text5, .text6 {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.text5 {
  font-size: 1.39em;
  margin-top: 57px;
  letter-spacing: 1.7px;
  line-height: 1.7;
  @media (max-width: 1599.98px) {
    font-size: 1.24em;
    margin-top: 49px;
    line-height: 1.65;
    letter-spacing: 1.05px;
    margin-left: 19px;;
  }
  @media (max-width: 1023.98px) {
    font-size: 1.33em;
    letter-spacing: 0.6px;
    line-height: 1.2;
    margin: auto;
    padding: 33px 0 6px 0;
  }
}
.text6 {
  font-size: 1.92em;
  line-height: 1.05;
  letter-spacing: 6px;
  @media (max-width: 1599.98px) {
    font-size: 1.73em;
    margin-left: 19px;
    letter-spacing: 3px;
  }
  @media (max-width: 1023.98px) {
    font-size: 2em;
    margin: auto;
    letter-spacing: 2px;
  }
}