@import "_variables";
.block2 {
  position: relative;
  background-color: $blue;
  color: $white;
  padding-bottom: 52px;
  @media (max-width: 1599.98px) {
    padding-top: 20px;
    padding-bottom: 28px;
  }
  @media (max-width: 1023.98px) {
    padding-top: 0px;
    padding-bottom: 38px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: none;
    object-position: bottom;
    @media (max-width: 1599.98px) {
      object-fit: contain;
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 180px);
  padding: 42px 90px 0 90px;
  line-height: 1.25;
  @media (max-width: 1599.98px) {
    width: calc(100% - 10px);
    padding: 17px 5px 0 5px;
  }
  @media (max-width: 1023.98px) {
    width: 100%;
    padding: 0;
    flex-direction: column;
    align-items: center;
  }
  &__block1, &__block2 {
    width: 42%;
    @media (max-width: 1023.98px) {
      text-align: center;
      width: 100%;
      margin-bottom: 35px;
    }
    &_row {
      width: 50%;
      display: flex;
      flex-direction: row;
      margin-top: 6px;
      @media (max-width: 1599.98px) {
      padding-left: 25px;
      }
      @media (max-width: 1023.98px) {
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding-left: 10px;
        margin-top: 30px;
      }
    }
  }
  &__block2 {
    @media (max-width: 1599.98px) {
      width: 36.8%;
    }
    @media (max-width: 1023.98px) {
      margin-bottom: 5px;
    }
    &_row {
      width: 41.9%;
      @media (max-width: 1599.98px) {
        width: 36.8%;
      }
      @media (max-width: 1023.98px) {
        padding-left: 0;
      }
    }
  }
  h3 {
    margin-bottom: 12px;
    @media (max-width: 1023.98px) {
      text-transform: uppercase;
      margin-bottom: 5px;
    }
  }
  p {
    @media (max-width: 1023.98px) {
      font-size: 1.11em;
      line-height: 1.37;
      letter-spacing: 0.5px;
    }
  }
}
.icon {
  width: 113px;
  height: fit-content;
  @media (max-width: 1599.98px) {
    width: 83px;
  }
}
.text {
  font-size: 1em;
  letter-spacing: 3px;
  margin: 45px 27px;
  @media (max-width: 1599.98px) {
    margin: 34px 0 0 17px;
    letter-spacing: 0.7px;
  }
  @media (max-width: 1023.98px) {
    margin: 5px 0 0px 0;
    font-size: 1.11em;
    letter-spacing: 0.3px;
  }
}